@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@1,700&display=swap');

body {
  padding: 4.5rem;
}

.dividerContainer {
  background-color: rgba(166, 99, 204, 1);
  border: 1px solid;
  box-shadow: 0.125rem 0.125rem 0.31rem rgba(0, 0, 0, 1);
  height: 1px;
  margin: 1rem 0 3rem 0;
}

.subtitle {
  color: rgba(166, 99, 204, 1);
  font-family: 'PT Serif', serif;
  font-size: 1rem;
  letter-spacing: 0.19rem;
  margin-top: 1rem;
  text-shadow: 0.125rem 0.125rem 0.31rem rgba(0, 0, 0, 1);
}

.title {
  color: rgba(0, 0, 0, 1);
  font-family: 'PT Serif', serif;
  font-size: 3rem;
  letter-spacing: 0.19rem;
  text-shadow: 0.125rem 0.125rem 0.31rem rgba(114, 239, 221, 1);
}

.verticalDivider {
  background-color: rgba(166, 99, 204, 1);
  border: 1px solid;
  height: auto;
  margin: 3.5rem 1rem 0 1rem;
}
