.addTitle {
  color: rgba(114, 239, 221, 1);
}

.completed {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-color: rgba(166, 99, 204, 1);
  transition: 0.5s all;
}

.description {
  color: rgba(114, 239, 221, 1);
  cursor: pointer;
  text-shadow: 0.125rem 0.125rem 0.31rem rgba(0, 0, 0, 1);
  transition: 0.5s all;
}

.deleteIcon {
  color: rgba(166, 99, 204, 0.5);
  background-color: transparent;
  margin-top: -0.4rem;
  transition: 0.5s all;
}

.deleteIcon:hover {
  color: rgba(166, 99, 204, 1);
  background-color: transparent;
  transition: 0.5s all;
}

.listContainer {
  margin-left: 1rem;
}
